<%= erb(:'partials/nav_bar', :layout => true) %>

<div class="container">
  <div class="row well">
    <div class="col-md-12">
      <h1 id="header">Url Specific Data</h1>
      <h1 id="source_path"><%= @source.identifier%>/<%= @path %></h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row well">
    <div class="col-md-12">
      <h4 id="longest">Longest Response Time: <%= @longest_response_time.to_i %></h4>
      <h4 id="shortest">Shortest Response Time: <%= @shortest_response_time.to_i %></h4>
      <h4 id="average">Average Response Time: <%= @average_response_time.to_i %></h4>

      <div id="http_verbs">
        <h4>HTTP Verbs:</h4>
        <% @requests.each do |request| %>
          <%=request %>
        </br>
          <% end %>
      </div>

      <div id="referrer">
        <h4 id="referrers">Most Popular Referrers: </h4>
        <% @most_popular_referrers.each do |referrer| %>
          <%= referrer %>
          </br>
        <% end %>
      </div>
      <div id="browser">
        <h4>Most Popular Browsers: </h4>
        <% @most_popular_browsers.each do |browser| %>
          <%= browser %>
          </br>
        <% end %>
      </div>
      <div id="os">
        <h4>Most Popular Operating Systems: </h4>
        <% @most_popular_os.each do |os| %>
          <%= os %>
          </br>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row well">
    <div class="col-md-12">
      <a href="http://localhost:9393/sources/<%= @source.identifier %>"><%=
      @source.identifier.capitalize %> Dashboard</a>
    </div>
  </div>
</div>

<%= erb(:'partials/footer', :layout => true) %>
